In [ ]:
#Free API Limited to 1000 requests/day

In [1]:
import requests
import pandas as pd

In [2]:
df = pd.read_excel('movie_data.xlsx')
df.head()

     budget  domgross             title
0  13000000  25682380     21 &amp; Over
1  45658735  13414714          Dredd 3D
2  20000000  53107035  12 Years a Slave
3  61000000  75612460            2 Guns
4  40000000  95020213                42

In [3]:
len(df)

30

In [19]:
def movie_lookup(title):
    api_key = 'ef486d09'
    base_url = 'http://www.omdbapi.com/?'
    params = 't=' + title
    response = requests.get(base_url+'apikey='+api_key+'&'+params)
    return response

In [16]:
api_key = 'ef486d09'
base_url = 'http://www.omdbapi.com/?'
params = 't=' + df.title.iloc[0]
response = requests.get(base_url+'apikey='+api_key+'&'+params)
print(response)

<Response [200]>

In [18]:
response.json()

{'Title': '21',
 'Year': '2008',
 'Rated': 'PG-13',
 'Released': '28 Mar 2008',
 'Runtime': '123 min',
 'Genre': 'Crime, Drama, Thriller',
 'Director': 'Robert Luketic',
 'Writer': 'Peter Steinfeld (screenplay), Allan Loeb (screenplay), Ben Mezrich (book)',
 'Actors': 'Jim Sturgess, Kevin Spacey, Kate Bosworth, Aaron Yoo',
 'Plot': '"21" is the fact-based story about six MIT students who were trained to become experts in card counting and subsequently took Vegas casinos for millions in winnings.',
 'Language': 'English',
 'Country': 'USA',
 'Awards': '1 win & 5 nominations.',
 'Poster': 'https://ia.media-imdb.com/images/M/MV5BMjAyNTU5OTcxOV5BMl5BanBnXkFtZTcwMDEyNjM2MQ@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.8/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '35%'},
  {'Source': 'Metacritic', 'Value': '48/100'}],
 'Metascore': '48',
 'imdbRating': '6.8',
 'imdbVotes': '206,513',
 'imdbID': 'tt0478087',
 'Type': 'movie',
 'DVD': '22 Jul 2008',
 'BoxOffice': '$81,159,365',
 'Production': 'Sony/Columbia Pictures',
 'Website': 'http://www.sonypictures.com/movies/21/',
 'Response': 'True'}

In [20]:
df.set_value?

In [24]:
for row in df.index[:3]:
    title = df.title[row]
    print(title)

21 &amp; Over
Dredd 3D
12 Years a Slave

In [25]:
title

'12 Years a Slave'

In [26]:
response = movie_lookup(title)
response.json()

{'Title': '12 Years a Slave',
 'Year': '2013',
 'Rated': 'R',
 'Released': '08 Nov 2013',
 'Runtime': '134 min',
 'Genre': 'Biography, Drama, History',
 'Director': 'Steve McQueen',
 'Writer': 'John Ridley (screenplay by), Solomon Northup (based on "Twelve Years a Slave" by)',
 'Actors': 'Chiwetel Ejiofor, Dwight Henry, Dickie Gravois, Bryan Batt',
 'Plot': 'In the antebellum United States, Solomon Northup, a free black man from upstate New York, is abducted and sold into slavery.',
 'Language': 'English',
 'Country': 'USA, UK',
 'Awards': 'Won 3 Oscars. Another 235 wins & 326 nominations.',
 'Poster': 'https://ia.media-imdb.com/images/M/MV5BZjFkOGNjZjAtMzZjNS00ZjI2LTkwNjEtOWQ3NzQzOTBlMDA5XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '96%'},
  {'Source': 'Metacritic', 'Value': '96/100'}],
 'Metascore': '96',
 'imdbRating': '8.1',
 'imdbVotes': '537,525',
 'imdbID': 'tt2024544',
 'Type': 'movie',
 'DVD': '04 Mar 2014',
 'BoxOffice': '$50,628,650',
 'Production': 'Fox Searchlight',
 'Website': 'http://www.foxsearchlight.com/12yearsaslave/',
 'Response': 'True'}

In [31]:
response.json().keys()

dict_keys(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response'])

In [37]:
for value in ['Year', 'imdbRating', 'Metascore', 'imdbVotes']:
    print()

2013.0
8.1
96.0
537525.0

In [45]:
data ={}
for row in df.index:
    title = df.title[row]
    try:
        response = movie_lookup(title)
        data[title] = response.json()
        try:
            for value in ['Year', 'imdbRating', 'Metascore', 'imdbVotes']:
                df.set_value(row, value, float(response.json()[value].replace(',','')))
            print('Row: {} Success! ON {}'.format(row, title))
        except:
            continue
    except:
        continue

/Users/matthew.mitchell/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':

Row: 0 Success! ON 21 &amp; Over
Row: 2 Success! ON 12 Years a Slave
Row: 3 Success! ON 2 Guns
Row: 4 Success! ON 42
Row: 5 Success! ON 47 Ronin
Row: 6 Success! ON A Good Day to Die Hard
Row: 7 Success! ON About Time
Row: 8 Success! ON Admission
Row: 9 Success! ON After Earth
Row: 10 Success! ON American Hustle
Row: 11 Success! ON August: Osage County
Row: 12 Success! ON Beautiful Creatures
Row: 13 Success! ON Blue Jasmine
Row: 14 Success! ON Captain Phillips
Row: 15 Success! ON Carrie
Row: 16 Success! ON Cloudy with a Chance of Meatballs 2
Row: 17 Success! ON Despicable Me 2
Row: 18 Success! ON Don Jon
Row: 19 Success! ON Elysium
Row: 21 Success! ON Epic
Row: 22 Success! ON Escape from Planet Earth
Row: 23 Success! ON Escape Plan
Row: 24 Success! ON Evil Dead
Row: 26 Success! ON Frozen
Row: 27 Success! ON G.I. Joe: Retaliation
Row: 28 Success! ON Gangster Squad

In [46]:
df.head()

,budget,domgross,title,Response_Json,Year,imdbRating,Metascore,imdbVotes
0,13000000,25682380,21 &amp; Over,NaN,2008.0,6.8,48.0,206513.0
1,45658735,13414714,Dredd 3D,NaN,2012.0,NaN,NaN,NaN
2,20000000,53107035,12 Years a Slave,NaN,2013.0,8.1,96.0,537525.0
3,61000000,75612460,2 Guns,NaN,2013.0,6.7,55.0,173726.0
4,40000000,95020213,42,NaN,2013.0,7.5,62.0,74170.0

In [47]:
pwd

'/Users/matthew.mitchell/Documents/Learn_CO/Data_Science_Immersive/Mod3/python_linear_regression_lab'

In [48]:
ls

Untitled.ipynb   images/          index.ipynb      movie_data.xlsx

In [49]:
df.to_excel('movie_data_detailed.xlsx', index=False)

In [43]:
df.tail()

       budget   domgross                  title  Response_Json
25  160000000  238679850     Fast and Furious 6            NaN
26  150000000  393050114                 Frozen            NaN
27  140000000  122523060  G.I. Joe: Retaliation            NaN
28   60000000   46000903         Gangster Squad            NaN
29   30000000    4167493                 Gloria            NaN

In [44]:
df.set_value(row, 'Response_Json', response.json())

/Users/matthew.mitchell/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

ValueError: Must have equal len keys and value when setting with an iterable

In [41]:
response.json()

{'Title': 'Gloria',
 'Year': '1980',
 'Rated': 'PG',
 'Released': '01 Oct 1980',
 'Runtime': '123 min',
 'Genre': 'Crime, Drama, Thriller',
 'Director': 'John Cassavetes',
 'Writer': 'John Cassavetes',
 'Actors': 'Julie Carmen, Tony Knesich, Gregory Cleghorne, Buck Henry',
 'Plot': "When a young boy's family is killed by the mob, their tough neighbor Gloria becomes his reluctant guardian. In possession of a book that the gangsters want, the pair go on the run in New York.",
 'Language': 'English',
 'Country': 'USA',
 'Awards': 'Nominated for 1 Oscar. Another 4 wins & 2 nominations.',
 'Poster': 'https://ia.media-imdb.com/images/M/MV5BYmQyZjUzMDgtODg1ZC00ZTI4LWExMzktMzIzZDNlOTc2MWU1XkEyXkFqcGdeQXVyMjI4MjA5MzA@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '95%'}],
 'Metascore': 'N/A',
 'imdbRating': '7.1',
 'imdbVotes': '6,866',
 'imdbID': 'tt0080798',
 'Type': 'movie',
 'DVD': '25 Feb 2003',
 'BoxOffice': 'N/A',
 'Production': 'Columbia Pictures Corporation',
 'Website': 'N/A',
 'Response': 'True'}